h1{
    margin: 0px;
    padding: 0px;
}
.container-home{
    padding: 3rem;
    display: flex;
    flex-direction: row;
}

.texto-home{
    display: flex;
    flex-direction: row;
}

.cuadro-texto{
    margin: 5rem;

}
.titulo{

    
    height: fit-content;
}


.contenedor-imagen{

    width: 50vw;
    height: 100%;
}