h1{
    margin: 0px;
    padding: 0px;
}
.container-home{
    padding: 3rem;
    display: flex;
    flex-direction: row;
}

.texto-home{
    display: flex;
    flex-direction: column;
}

.cuadro-texto{
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.cuadro-texto2{
    margin-left: 5rem;
    margin-right: 5rem;

}

.titulo{

    
    height: fit-content;
}


.contenedor-imagen{

    width: 50vw;
    height: 100%;
}

@media screen and (max-width: 960px) {
    .container-home{
        padding: 1.2rem;
        display: flex;
        flex-direction: column;
    }
    .cuadro-texto{
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .cuadro-texto2{
        margin-left: 1rem;
        margin-right: 1rem;
    
    }
    
  }
  