h1{
    margin: 0px;
    padding: 0px;
}
.container-home{
    padding: 3rem;
    display: flex;
    flex-direction: row;
}

.texto-home{
    display: flex;
    flex-direction: column;
}

.cuadro-texto{
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.cuadro-texto2{
    margin-left: 5rem;
    margin-right: 5rem;

}

.titulo{

    
    height: fit-content;
}


.contenedor-imagen{

    width: 50vw;
    height: 100%;
}