.list-texts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.list-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.item-text{
    margin: 2rem;
    padding: 1rem;
    border: 1px solid darkgray ;
    border-radius: 10px;
}

.img-container{
  padding-top:0.5rem ;
}


.item-img{
  
  margin: 2rem;
  padding: 1rem;
  border: 1px solid darkgray ;
  border-radius: 10px;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.img-mestudio{
  width: 400px;
  height: 400px;
  object-fit: scale-down;
}


.img-mestudio2{
  width: 450px;
  
  object-fit: scale-down;
}

.tittle{
    font-size: x-large;
}

@media screen and (max-width: 960px) {
    .list-texts {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
      .list-img {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }

}