.jigsaw-puzzle {
    position: relative;
    height: 860px;
    width: 860px;
}

.jigsaw-puzzle__piece {
    position: absolute;
    border: 1px solid #cecece;
    cursor: pointer;
    z-index: 1;
    user-select: none;
}

.jigsaw-puzzle__piece.jigsaw-puzzle__piece--solved {
    border-color: #000;
    z-index: 0;
}
.jigsaw-puzzle__piece.jigsaw-puzzle__piece--dragging {
    z-index: 5;
    box-shadow: 1px 1px 5px 0px #00000091;
}


.btn-volver{
    padding-top: 5px;

    margin-top: 30px;
    margin-bottom:30px;
    justify-content: center;
    vertical-align: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: var(--primary);
    border: none;
    border-radius: 4px;
    width: 120px;
    height: 30px;
    cursor: pointer;
    text-decoration: dashed;

}

.btn-volver:hover{
    transition: all 0.3s ease-out;
    background-color: transparent;
    color: black;
    border-radius: 4px;
    border: 2px solid var(--primary);
    transition: all 0.3s ease-out;
    
}